.page {
    display: grid;
    grid-template-areas:
        'header header'
        'navigation main'
        'footer footer'
    ;
}

header {
    grid-area: header;
}

nav {
    grid-area: navigation;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}