.page {
    position: relative;
    z-index: 2;

    display: grid;
    grid-template-rows: 15vh 85vh;
    grid-template-columns: minmax(0, 1fr);
}

header {
    grid-row: 1 / 2;
}

main {
    grid-row: 2 / 3;
}

