.container {
    position: relative;

    min-height: 50%;
    max-height: 75%;

    border-radius: .5rem;

    background: var(--background-color);
}

.container > button {
    z-index: 1;
    position: absolute;

    top: calc(50% - 2.25rem);

    height: 3.5rem;
    margin: 1rem;
}

.container > button:nth-of-type(1) {
    left: 0;
}

.container > button:nth-of-type(2) {
    right: 0;
}
