.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 2rem;

    border-radius: .5rem;
    width: 60%;
    padding: 2rem;

    background: var(--background-color);
}

.container > img {
    object-fit: scale-down;

    border-radius: .5rem;
    width: 50%;
}

.container > figcaption {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 50%;

    font-size: .85rem;
    text-align: left;
}

.container > figcaption > h3 {
    text-align: center;
}
