@font-face {
  font-family: "protomolecule";
  src: url("assets/fonts/Protomolecule.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "aller";
  src: url("assets/fonts/Aller_Bd.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "aller";
  src: url("assets/fonts/Aller_Rg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "aller";
  src: url("assets/fonts/Aller_Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

:root {
  --background-color: rgba(2, 1, 2, 0.5);
  --primary-color: #372C68;
  --secondary-color: #8E37AA;
  --font-color: #E9E5F3;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
table { border-collapse: collapse; border-spacing: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "aller", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: radial-gradient(at bottom left, var(--secondary-color), var(--primary-color), black);

  background-size: 100% 200%;

  animation: gradient 10s ease infinite;

  color: var(--font-color);

}

h1,
h2 {
  font-family: "protomolecule", sans-serif;
  font-weight: bold;
}
