@font-face {
  font-family: "protomolecule";
  src: url("assets/fonts/Protomolecule.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "aller";
  src: url("assets/fonts/Aller_Bd.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "aller";
  src: url("assets/fonts/Aller_Rg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "aller";
  src: url("assets/fonts/Aller_Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@keyframes gradient {
  0% {
    background-position: 0 25%;
  }
  50% {
    background-position: 0 75%;
  }
  100% {
    background-position: 0 25%;
  }
}

:root {
  --background-color: rgba(2, 1, 2, 0.5);
  --primary-color: #372C68;
  --secondary-color: #8E37AA;
  --font-color: #E9E5F3;
}

body {
  margin: 0;
  font-family: "aller", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;

  /*background-image: url("assets/images/stars.jpg");*/
  /*background-size: cover;*/
  /*background-position: 100% 75%;*/

  background: radial-gradient(at bottom left, var(--secondary-color), var(--primary-color), black);

  background-size: 100% 200%;

  animation: gradient 10s ease infinite;

  color: var(--font-color);
}

h1,
h2 {
  font-family: "protomolecule", sans-serif;
  font-weight: bold;
}
